# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Editor settings
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Simulation results etc
data/simulations
data/test
data/test_images
data/phaseimages/k0061


